#about
  .row
    margin:20px 0 40px 0
    display:flex
    flex-direction:row
    margin:20px auto 0
    width: 800px
    .column
      flex-basis:inherit
      margin:auto
      p
        line-height:27px
      img
        width:50%
        display:block
        margin:auto
      #knowledge
        h3
          color:grey
          margin:17px 0 7px 0
        ul
          list-style:none
          li
            margin:6px 0
            .fa-icon
              color:#2ecc71
