#contact
  .contact
    width:400px
    margin:40px auto 0
    .field
      position:relative
      margin:20px 0
      .label
        font-size:1em
        // position:absolute
        // top:11px
        transition:200ms ease
      .input
        display:block
        width:100%
        font-size:1em
        padding:.8em 1em .8em 0
        resize:none
        border:none
        border-bottom:2px solid darkblue
        outline:none
        background:white
      textarea
        height:100px
        transition:400ms ease
        &:focus
          height:120px
    .btns
      text-align:center
      margin:10px 0 40px
