#footer
  background:darkblue
  padding:20px 0
  color:white
  width:100%
  font-size:.7em
  div
    width:95%
    max-width:1150px
    margin:0 auto
    a
      text-decoration:none
      border-bottom:1px solid white
    .right
      float:right
      a
        text-decoration:none
        margin-right:10px
        &:last-child
          margin-right:0
        &:hover
          border-bottom:1px solid white
