// @media (max-width: 1200px)
// @media (max-width: 1000px)
@media (max-width: 800px)
  #header
    height:auto
    width:100%
    padding:30px 0 60px
    .header-content
      .inner-content
        position:inherit
        transform:none
        width:100%
        .header-img
          margin:0 auto 20px auto
        .social-icons
          width:145px
          a
            width:25px
            height:25px

  .title.header
    margin:0 0 10px 0

  #work
    .work.item
      flex-basis:45%
      margin:0 2.5% 120px 2.5%
      overflow:visible
      .overlay
        opacity:1
        font-size:.8em
        // background:lightblue
        background:blue
        height:100px
        top:auto
        left:0
        transform:none
        bottom:-100px
        .content
          width:95%

  #moreInfo
    .container
      .buttons
        font-size:1.3em
      #roles
        width:90%

@media (max-width: 600px)
  #header
    height:auto
    width:100%
    padding:30px 0 60px
    .header-content
      .inner-content
        position:inherit
        transform:none
        width:100%
        .header-img
          margin:0 auto 20px auto
        .social-icons
          width:170px
          a
            width:30px
            height:30px

  .title.header
    margin:0 0 10px 0

  #work
    width:90%
    margin:0 auto
    padding:0
    .work.item
      flex-basis:100%
      margin:10px auto 120px auto
      .overlay
        font-size:1em

  #moreInfo .container
    .title.header
      h1
        font-size:1.4em
      h3
        font-size:.8em
    .aboutItem
      text-align:left
    #roles
      width:100%
      .list
        width:100%
        margin:0 0 20px 0
        &:last-child
          margin:0
  #moreInfo
    #slider
      max-width:100%

@media (max-width:330px)
  #work .work.item .overlay
    font-size:.8em
