#footer {
  width: 100%;
  background-color: $textColor;
  position: relative;
  z-index: 0;
  padding: 100px 0;

  &:before {
    content: '';
    margin-top: -250px;
    display: block;
    background-color: $textColor;
    height: 250px;
  }

  .container {
    text-align: center;
    color: $brokenWhite;

    .subTitle,
    .title {
      color: $brokenWhite;
    }

    .buttons {
      margin: 32px 0;

      .btn {
        width: 140px;

        &:first-child {
          margin-right: 32px;
        }
      }
    }
  }
}
