#navigation {
  position: absolute;
  top: 0;
  right: 0;

  ul {
    list-style: none;

    li {
      display: inline-block;

      a {
        display: block;
        margin-left: 55px;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
