$font: 'Open Sans', sans-serif;
$white: #f9f9f9;
$brokenWhite: #f2f2f2;
$darkBlue: #1B3552;
$lightBlue: #2D5B8C;
$iconColor: #9B9B9B;
$textColor: #4A4A4A;
$subTextColor: #214265;
$linkColor: #214265;
$grey: #d8d8d8;
$fontsizeHeading: 32px;
$fontSize: 16px;
$containerWidth: 940px;
$visualColor: #eee;
